/.metadata/
/.recommenders/
*.jar
*.class
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip
*.jar
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project
.externalToolBuilders/
*.launch
.classpath
.factorypath
.buildpath
.target
.tern-project
.springBeans
.recommenders/
Servers/
/target
*.MF